# ==========================================
# Archivos del Sistema Operativo (Mac/Windows)
# ==========================================
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# ==========================================
# Carpetas basura generadas por Xilinx ISE
# ==========================================
iseconfig/
xst/
_xmsgs/
isim/
xlnx_auto_0_xdb/

# ==========================================
# Archivos de Síntesis, Implementación y Logs
# ==========================================
*.bgn
*.bld
*.cmd_log
*.drc
*.html
*.gise
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xml
*.xrpt
*.log

# ==========================================
# Archivos de Simulación
# ==========================================
*.isim
*.wdb

# ==========================================
# Archivos Binarios (¡Opcional pero recomendado!)
# ==========================================
*.bit

# ==========================================
# Temporales de editores
# ==========================================
*~
*.swp
*.bak