# ==========================================
# Archivos del Sistema Operativo (Mac/Windows)
# ==========================================
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# ==========================================
# Carpetas de Xilinx ISE
# ==========================================
iseconfig/

# ==========================================
# Ignore all files by default
# ==========================================
*

# ==========================================
# Only keep these file types
# ==========================================
!.gitignore
!*.xise
!*.vhd
!*.ucf
!*.md

# ==========================================
# Allow directories (so git can traverse them)
# ==========================================
!*/
