//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 10 11:55:23 2026
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "actualiza" LOCATE = SITE "N15" LEVEL 1;
COMP "ciclos<0>" LOCATE = SITE "T22" LEVEL 1;
COMP "ciclos<1>" LOCATE = SITE "T21" LEVEL 1;
COMP "ciclos<2>" LOCATE = SITE "U22" LEVEL 1;
COMP "ciclos<3>" LOCATE = SITE "U21" LEVEL 1;
COMP "ciclos<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "ciclos<5>" LOCATE = SITE "W22" LEVEL 1;
COMP "ciclos<6>" LOCATE = SITE "U19" LEVEL 1;
COMP "ciclos<7>" LOCATE = SITE "U14" LEVEL 1;
COMP "reset" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

