###########################################
NET CLK_100_in    LOC = Y9   | IOSTANDARD=LVCMOS33 | PERIOD = 10 ns;

NET reset       	LOC = P16   | IOSTANDARD=LVTTL;  #BTNC

NET AC_ADR0       LOC = AB1  | IOSTANDARD=LVCMOS33;
NET AC_ADR1       LOC = Y5   | IOSTANDARD=LVCMOS33;
NET AC_GPIO0      LOC = Y8   | IOSTANDARD=LVCMOS33;
NET AC_GPIO1      LOC = AA7  | IOSTANDARD=LVCMOS33;
NET AC_GPIO2      LOC = AA6  | IOSTANDARD=LVCMOS33;
NET AC_GPIO3      LOC = Y6   | IOSTANDARD=LVCMOS33;
NET AC_SCK        LOC = AB4  | IOSTANDARD=LVCMOS33;
NET AC_SDA        LOC = AB5  | IOSTANDARD=LVCMOS33; 
NET AC_MCLK       LOC = AB2  | IOSTANDARD=LVCMOS33; 

NET mute              LOC = F22  | IOSTANDARD=LVCMOS33;  # "SW0"

NET SWITCH<2>         LOC = H22  | IOSTANDARD=LVCMOS33;  # "SW2"
NET SWITCH<3>         LOC = F21  | IOSTANDARD=LVCMOS33;  # "SW3"
NET SWITCH<4>         LOC = H19  | IOSTANDARD=LVCMOS33;  # "SW4"
NET SWITCH<5>         LOC = H18  | IOSTANDARD=LVCMOS33;  # "SW5"
NET SWITCH<6>         LOC = H17  | IOSTANDARD=LVCMOS33;  # "SW6"
NET SWITCH<7>         LOC = M15  | IOSTANDARD=LVCMOS33;  # "SW7"

#NET BTN<0>           LOC = P16  | IOSTANDARD=LVTTL;  # "BTNC"
NET play_button           LOC = N15  | IOSTANDARD=LVTTL;  # "BTNL"
NET record_button           LOC = R18  | IOSTANDARD=LVTTL;  # "BTNR"
#NET BTN<3>           LOC = T18  | IOSTANDARD=LVTTL;  # "BTNU"
#NET BTN<4>           LOC = R16  | IOSTANDARD=LVTTL;  # "BTND"

NET "Leds<0>"  LOC = "T22" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<1>"  LOC = "T21" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<2>"  LOC = "U22" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<3>"  LOC = "U21" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<4>"  LOC = "V22" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<5>"  LOC = "W22" | IOSTANDARD=LVCMOS33 ; 
NET "Leds<6>"  LOC = "U19" | IOSTANDARD=LVCMOS33 ;  
NET "Leds<7>"  LOC = "U14" | IOSTANDARD=LVCMOS33 ;  